*{
	padding: 0;
	margin: 0;
}
html, body{
	height: 100%;
	font-family: "微软雅黑" Arial;
}

/*header*/
header{
	width: 100%;
	height: 45px;
	background-color: #2d2d2d;
	margin: 0 auto;
} 
header h1{
	color: #EEE;
	font-size: 25px;
	line-height: 45px;
	float: right;
	margin-right: 50px;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}
header:hover h1{
	color: #fff;
}
header:hover img{
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	        transform: rotate(360deg);
}
header img{
	height: 35px;
	width: 35px;
	margin: 5px;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}
// nav{
// 	height: 45px;
// 	width: 100%;
// 	background-color: #2d2d2d;
// 	box-shadow: 1px 1px 10px #000;
// }
// nav ul{
// 	height: 45px;
// 	width: 90%;
// 	margin: auto;
// }
// nav ul li{
// 	height: 45px;
// 	width: 100px;
// 	float: left;
// 	list-style: none;
// 	text-align: center;
// 	line-height: 45px;
// 	-webkit-transition: all .3s ease-in-out;
// 	   -moz-transition: all .3s ease-in-out;
// 	    -ms-transition: all .3s ease-in-out;
// }
// nav ul li:hover{
// 	opacity: 0.8;
// }
// nav ul li a{
// 	font-size: 20px;
// 	font-weight: bold;
// 	text-align: center;
// 	text-decoration: none;
// 	color: #fff;
// }



/*main*/ 
#main{
	margin: 0 auto;
}
#wrapper{
	margin: auto;
	width: 90%;
	// height: calc(100% -200px);
	display: flex;
	justify-content: space-between;
	border: 2px solid #ccc;
	box-sizing: border-box;;
}
#titleZone{
	width: 90%;
	height: 25px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background-color: #66cc33;
	color: #000;
	text-align: center;
	font-weight: bold;
}
#titleZone .titleItem{}
#titleZone .titleItem:nth-child(1){
	width: 20%;
}
#titleZone .titleItem:nth-child(2){
	width: 45%;
}
#titleZone .titleItem:nth-child(3){
	width: 35%;
}

#settings{
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	padding: 5px;
	background-color: #ccc;
}
#settings #duration{
	
}
#settings #duration:focus{
	
}
#settings #arrivaltable{
	height: 280px;
	width: 100%;
	outline: none;
	border: none;
	background-color: #333;
	color: red;
	font-size: 16px;
	font-family: fantasy;
}
#settings #generaterandom{}
#settings #responsetimeave{}
#settings #tellerscount{}
.input{
	width: 25px;
	height: 25px;
	outline: none;
	text-align: center;
	color: red;
	font-weight: bold;
	line-height: 25px;
	border: 1px solid #aaa;
	border-radius: 3px;
	// border: 1px solid #fff;
	// box-sizing: border-box;
}
.input:focus{
	outline: 2px solid #66cc33;
	// background-color: red;
}

/* 模拟演示按钮 */
#settings #startsimulate{}
.settings-left{}
.settings-right{}


/* 结果显示 */ 
#results{
	width: 45%;
	height: 100%;
	overflow-Y: scroll;
	padding: 5px;
	box-sizing: border-box;
	// background-color: #00ff00;
}

/* style for log data*/ 
.label{
	font-weight: bold;
}
.label:after{
	content: ": ";
}
.value{}
li{
	padding: 5px 0;
	margin: 5px 0;
}
ul.inline-ul{
	padding: 0;
}
/* 顾客队列列表 */ 
ul.inline-ul li{
	display: inline;
	list-style-type: none;
	border: 1px solid #999;
	padding: 0 5px;
}

/* CLOCK样式 */ 
li.clock_changed{
	border: 1px solid #ccc;
	color: #ff0000;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-size: 18px;
	list-style-type: none;
	margin: 15px 0;
	padding: 15px;
	text-align: center;
	background: #2d2d2d url("../images/clock.png") no-repeat left center;
	background-size: 45px;
}


/* 结果总结 */ 
#summary{
	width: 35%;
	height: 100%;
	overflow-Y: scroll;
	padding: 5px;
	box-sizing: border-box;;
	// background-color: #ff00ff;
}


/* footer */ 
footer{
	height: 35px;
	width: 100%;
	clear: both;
	background-color: #2d2d2d;
}
footer p{
	font-size: 10px;
	line-height: 35px;
	color: #fff;
	text-align: center;
}


/*按钮样式*/
.btn{
	width: 150px;
	height: 30px;
	background-color: #66cc33;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #2d2d2d;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 3px;
	// text-shadow: 1px 1px #2d2d2d, 2px 2px #2d2d2d;
	box-shadow: 2px 2px 5px #2d2d2d;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
	// position: absolute;
	display: block;
	margin: 10px auto;
}
.btn:hover{
	cursor: pointer;
	color: #000;
	background-color: #66cc66;
	box-shadow: 2px 2px 2px #2d2d2d;

}