#animate{
	width: 100%;
	height: 40%;
	border: 1px solid #ccc;
}
/* 时钟样式 */
#animateClock{
	height: 20px;
	width: 100%;
	background-color: #2d2d2d;
	color: #ff0000;
	text-align: center;
}
/* 服务台样式表 */
#animateTeller{
	height: 45px;
	width: 100%;
	background-color: #fff;
}
/* 服务台样式 */
#animateTeller .tel{
	height: 30px;
	width: 30px;
	margin: 10px;
	background-color: #2d2d2d;
	border-radius: 3px;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

/* 服务状态样式 */
#animateServiceState{
	height: 30px;
	width: 100%;
}

/* 顾客队列样式 */
#animateCustomerQueue{
	height: 150px;
	width: 100%;
	overflow-y: scroll;
}

/*  */

/* style for log data*/ 


/* CLOCK样式 */ 

#animateCustomerQueue li:not(.queue_log){
	display: none;
}

/* 队列样式 */ 
#animateCustomerQueue li.queue_log{
	list-style-type: none;
	padding: 15px 0 15px 100px;
	background: #e0f2be url("../images/queue.png") no-repeat left center;
	background-size: 45px;
	/* position: absolute; */
}
#animateCustomerQueue li ol li{
	display: block;
}
#animateCustomerQueue li ol li ul li{
	display: block;
}


#animateCustomerQueue ul.inline-ul{
	padding: 0;
}
/* 顾客队列列表 */ 
#animateCustomerQueue ul.inline-ul li{
	display: inline;
	list-style-type: none;
	border: 1px solid #999;
	padding: 0 5px;
}
