*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑" sans-serif;
	background-image: url('../images/dot.png');
	background-repeat: repeat;
	background-size: 1em;
}
@font-face{
	font-family: "dor";
	src: url('../fonts/dor.ttf');
}

.mainContainer{
	position: relative;
	height: 100vh;
	width: 100%;
}

/* titleZone */
#titleZone{
	position: absolute;
	color: #fff;
	text-align: left;
	top: 100px;
	left: 100px;
	text-shadow: 1px 1px 5px #2d2d2d;
	animation: bounceIn 1s linear 0.3s;
}
#titleZone h1{
	font-size: 4em;
}
#titleZone h3{
	font-size: 3em;
	font-family: dor;
	color: #03c03c;
}

#loginZone{
	height: 120px;
	width: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	box-shadow: 1px 1px #2d2d2d, 2px 2px #2d2d2d, 3px 3px #2d2d2d, 4px 4px #2d2d2d, 5px 5px #2d2d2d, 6px 6px #2d2d2d, 7px 7px 5px #2d2d2d, 8px 8px 5px #2d2d2d, 1px 1px 10px #000;
	border-radius: 15px;
}
#password{
	width: 85%;
	height: 35px;
	margin: 20px auto 15px;
	line-height: 35px;
	text-align: center;
	color: #2d2d2d;
	border-radius: 10px;
}
#password span{
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	color: #03c03c;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	margin: 5px 10px;
	cursor: pointer;
	border: 1px solid #ccc;
}
#password span:hover{
	background-color: #03c03c;
	color: #fff;
}
input{
	display: block;
	width: 55%;
	height: 100%;
	float: right;
	font-weight: bold;
	box-sizing: border-box;
	outline: none;
	border:  1px solid #ccc;
	color: orange;
	border-radius: 20px;
	text-indent: 5px;
	border: 1px solid green;
}
button{
	height: 35px;
	width: 85%;
	margin: 15px auto !important;
	display: block;
	border: none;
	outline: none;
	background-color: #03c03c;
	
	border-radius: 20px;
	color: #2d2d2d;
	font-size: 15px;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
	 cursor: pointer;
	 box-shadow: 1px 1px 1px #2d2d2d;
}
button:hover{
	box-shadow: 1px 1px 3px #2d2d2d;
	opacity: 0.8;
}
button i{
	padding: 5px;
}
/* 邀请码提示样式 */
#qom{
	width: 130px;
	height: 65px;
	background-color: #2d2d2d;
	position: absolute;
	top: -210px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	color: #03c03c;
	font-size: 15px;
	line-height: 2em;
	text-align: center;
	border-radius: 15px;
	filter: drop-shadow(1px 1px 5px #2d2d2d);
	display: none;
}
#triangle{
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 65px;
	right: 0;
	left: 0;
	margin: auto;
	border: 10px solid;
	border-color: transparent;
	border-top-color: #2d2d2d;
}


/* 背景视频 */
#bgvid{
	z-index: -111;
	overflow: hidden;
	position: fixed;
	right: 0px;
	bottom: 15px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
	opacity: 0.7;
}


/* 页脚 */
footer{
	height: 70px;
	width: 100%;
	background-color: #222222;
	position: fixed;
	bottom: 0;
	line-height: 70px;
	color: #03c03c;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: bold;
}

.alert{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}



/* 标题动画 */
/* 背景圆动画 */
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
  @-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }