*{
	padding: 0;
	margin: 0;
}
body {
  font-family: "微软雅黑";
}

/* header*/ 
header{
	// height: 200px;
	width: 100%;
	margin: 0 auto;
}
nav{
	height: 55px;
	width: 100%;
	background-color: #03c03c;
}
nav ul{
	height: 55px;
	width: 90%;
	margin: auto;
}
nav ul li{
	height: 55px;
	width: 100px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 55px;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
}
nav ul li:hover{
	background-color: #ccc;
}
nav ul li a{
	text-decoration: none;
	text-align: center;
	color: #000;
	font-size: 20px;
	font-weight: bold;
}


#main{
	margin: 0 auto;
}
#wrapper {
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}

#titleZone{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background-color: #2d2d2d;
	color: #fff;
}
#titleZone .titleItem{
}
#titleZone .titleItem:nth-child(1){
	width: 20%;
}
#titleZone .titleItem:nth-child(2){
	width: 45%;
}
#titleZone .titleItem:nth-child(3){
	width: 35%;
}


#settings {
	width: 20%;
	height: 700px;
	background-color: #f5f5f5;
	box-sizing: border-box;
	padding: 5px;
}
#settings #duration {
  margin-bottom: 20px;
}
#settings #arrivaltable {

}
#settings #generaterandom {

}
#settings #responsetimeave {

}
#settings #tellerscount {

}
#settings #startsimulate {
  background-color: lightgreen;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.settings-left {
  	float: left;
}
.settings-right {
  	float: left;
}


/* 结果显示 */ 
#results{
	width: 45%;
	height: 700px;
	overflow: scroll;
	padding: 5px;
	box-sizing: border-box;
	background-color: yellowgreen;
}

/**
 * Style for log data
 */
.label {
  font-weight: bold;
}
.label:after {
  content: ': ';
}
.value {

}
li {
  padding: 5px 0;
  margin: 10px 0;
}
ul.inline-ul {
  padding: 0;
}
ul.inline-ul li {
  display: inline;
  list-style-type: none;
  border: 1px solid #999;
  padding: 0 5px;
}

li.clock_changed {
  border: 1px solid #CCCCCC;
  color: #FF0000;
  font-family: verdana, sans-serif;
  font-weight: bold;
  list-style-type: none;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  background: #EEEEEE url('../images/clock.png') no-repeat left center;
}
li.customer_enter {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: #DCFEDA url('../images/customer.png') no-repeat left center;
}
li.customer_getservice {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: #00ff00 url('../images/customer.png') no-repeat left center;
}
li.customer_exit {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: #710909 url('../images/customer.png') no-repeat left center;
  color: #fff;
}
li.tellermanagaer_create_teller {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: url('../images/tellermanager.png') no-repeat left center;
  border: 1px solid #000;
}
li.tellermanager_increase {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: url('../images/speaker.png') no-repeat left center;
  border: 1px solid #000;
}
li.tellermanager_listfree {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: url('../images/tellermanager.png') no-repeat left center;
  border: 1px solid #000;
}
li.teller_state_busy {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: #d33682 url('../images/teller.png') no-repeat left center;
}
li.teller_state_free {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: #8ae234 url('../images/teller.png') no-repeat left center;
}
li.queue_log {
  list-style-type: none;
  padding: 25px 0 25px 100px;
  background: #e0f2be url('../images/queue.jpg') no-repeat left center;
}
li.numberingmachine_increase {
  list-style-type: none;
  padding: 25px 0 25px 48px;
  background: url('../images/numberingmachine.png') no-repeat left center;
}
li.simulation_start {
  list-style-type: none;
  border: 1px solid #000;
}
li.simulation_finish {
  list-style-type: none;
  border: 1px solid #000;
}
li.simulation_log {
  margin-left: 50px;
}


#summary {
  	width: 35%;
  	height: 700px;
  	overflow: scroll;
  	padding: 5px;
	box-sizing: border-box;
	background-color: pink;
}

#summary table {
  margin: 10px 30px 20px 30px;
}
#summary table tr {
  border-bottom: 1px solid green;
}
#summary table th {
  border: 1px solid #000;
  padding: 5px;
}
#summary table td {
  padding: 5px;
  border: 1px solid #ddd;
}



/* footer */ 
footer{
	height: 45px;
	width: 100%;
	background-color: #2d2d2d;
	clear: both;
}
footer p{
	line-height: 45px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
