#tips{
	width: 100%;
	clear: both;
	position: absolute;
	display: none;
}
#tips_back{
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom right, #8b7963 33%, #bbab98 66%, #fff 100%);
	opacity: 0.7;

}
div.tip{
	font-size: 20px;
	position: absolute;
	color: #ffcc00;
	top: 100px;
}
div.tip p{
	background-color: #2d2d2d;
	display: block;
	height: 30px;
	padding: 15px;
	line-height: 30px;
	border-radius: 30px;
	box-shadow: 1px 1px 10px #ccc;

}
div.tip img{
	position: relative;
	left: 30%;
	margin: 10px;
}
#tips_setting{
	top: 0;
	left: 5%;
}
#tips_animate{
	top: 60%;
	left: 40%;
}
#tips_result{
	top: 10%;
	right: 5%;
}